<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            background-attachment: fixed;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: aquamarine;
        }
    </style>
</head>

<body class="main">
    <h1 style="margin-left: 45px; margin-top: 60px; background-color: black; color: white; height: 60px; width: 20%; justify-content: center; display: flex; align-items: center;"> Welcome To My App </h1>
    <button style="height: 40px; width: 100px; margin-top: 5px; border-radius: 10px; margin-left: 80px; background-color: black; color: white;">Login</button>
    <button style="height: 40px; width: 100px; border-radius: 10px; background-color: black; color: white;">Sign up</button>
</body>

</html>